/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2017, 19:42:08
    Author     : patri
*/

title{

}
h1{
    color: #1C1C1C;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, sans-serif;
}




.caption {

}
